<p>
  Accounts used: <span class="label-group">
    <% @items.map { |item| item.account.name }.uniq.each do |account_name| %>
      <span class="label"><%= account_name %></span>
    <% end %>
  </span>
</p>

<p>
  Items bought: <span class="label-group">
    <% @items.each do |item| %>
      <span class="label"><%= item.name_and_quantity %></span>
    <% end %>
  </span>
</p>

<p>
  Grand total: <span class="label"><%= number_to_currency(@items.grand_total, currency_info_for(@user)) %></span><br>
</p>

<% if @old_items.present? %>
  <p>
    In <%= @old_date %> you spent <span class="label"><%= force_sign_for percentage_variation(@old_items.grand_total, @items.grand_total.round(2)).round(2) %>%</span> (aka <span class="label"><%= @old_items.grand_total - @items.grand_total >= 0 ? '+' : '' %><%= number_to_currency(@old_items.grand_total - @items.grand_total, currency_info_for(@user)) %></span> since <%= @old_date %> you spent <span class="label"><%= number_to_currency(@old_items.grand_total, currency_info_for(@user)) %></span>) and you bought <span class="label"><%= force_sign_for @items.count_items - @old_items.count_items %></span> things.
  </p>
<% end %>
