<div class="account">
  <h2>
    <%= account.name %>
    <br>
    <%= number_to_currency account.money %>
    <% if account.left_money != account.money %>
      (<%= "#{number_to_currency(account.left_money)} #{account.left_money > 0 ? 'left' : 'of debt'}" %>)
    <% end %>
  </h2>

  <div class="items">
    <% account.items.bought_in(@month).each do |item| %>
      <%= render 'item', item: item %>
    <% end %>
  </div>

  <%= render 'new_item', account: account %>
</div>
