<div class="item">
  <span><%= item.name_and_quantity %>: <%= number_to_currency(item.total, currency_info_for(@user)) %> (the <%= item.bought_at.strftime("%y/%m/%d at %H:%M") %>)</span> <%= raw("<span>#{item.details}</span>") if item.details.present? %> (<%= link_to 'X', user_account_item_path(@user, account, item), method: :delete, data: { confirm: 'Are you sure?' } %>)
</div>
