<div id="new-item-modal-form-for-<%= account.to_param %>" class="new-item modal-form">
  <%= simple_form_for [@user, account, account.items.build], data: { validate: 'parsley' } do |f| %>
    <%= f.input :name     %>
    <%= f.input :quantity %>
    <%= f.input :price    %>
    <%= f.input :details  %>

    <%= f.button :submit, 'Add item', class: 'button teal' %>
  <% end %>
</div>

<%= link_to_modal 'Add new item', "#new-item-modal-form-for-#{account.to_param}", class: 'btn button teal modal-form' %>